:root {
    --cor-primaria--: #ffffff;
    --cor-secundaria: radial-gradient(107.95% 57.49% at 50% 100%, rgba(24, 37, 53, 0.2) 0%, rgba(24, 37, 53, 0.5215686275) 5%, rgba(24, 37, 53, 0.8509803922) 20%, #182535 60%, #192330 100%);
    ;
    --cor-destaque: #8f8580;
    --fonte: 'Segoe UI', Arial, sans-serif;
    --raio: 10px;
    --sombra: 0 4px 12px rgba(0, 0, 0, .08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* Footer grudado no rodapé */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #171a21;
    padding: 20px;
    display: flex;
    align-items: center;
}

header img {
    width: 220px;
    padding: 15px;
}

header a{
    font-size: 14px;
    font-size: 16px;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #dcdedf;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px;
}

header a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    width: 800px;
    height: 200px;
}

main a{
    display: flex;
    flex-direction: column;
    color: var(--cor-primaria--);
    text-align: center;
    margin: 20px;
    font-size: 1.4rem;
    text-decoration: none;
}

main a:hover{
    padding: 5px;
    border-radius: 5px;
    transition: 2.s;
    background-color: rgba(32, 29, 29, 0.774);
}

footer {
    background: #0f172a;
    color: rgba(255, 255, 255, .7);
    padding: 48px 40px 24px;
    text-align: center;
}

.footer-grid{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 200px;
}

.footer-col {
    flex: 1;
    min-width: 180px;
}

.footer-col h3 {
    color: white;
    margin-bottom: 14px;
}

.footer-col a {
    color: rgba(255, 255, 255, .6);
    display: block;
    margin-bottom: 8px;
}

.footer-col a:hover {
    color: white;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 20px;
    text-align: center;
    font-size: .85rem;
}
.footer-end{
    display: flex;
    justify-content: center;
}